* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #d0d0f5;
    color: #333;
    padding: 20px;
}

/* Container principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #514692;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, textarea, button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

input, textarea {
    width: 100%;
}

button {
    background-color: #514692;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #514692;
}

/* Lista de tarefas */
h2 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease;
}

li:hover {
    transform: scale(1.02);
}

/* Botões de ação */
button.delete, button.complete {
    background-color: #f44336;
    color: white;
    margin-left: 10px;
}

button.complete {
    background-color: #514692;
}

button.delete:hover, button.complete:hover {
    background-color: #f36b6b;
}

/* Container das listas de tarefas */
#tarefas-container, #concluidas-container {
    margin-bottom: 30px;
}
