@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
html{
  height: 100%;
  margin: 0;
  padding: 0;
  background: #5ce1e6;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.div-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}
.h1-body{
    text-align: center;
    color: rgb(100, 100, 100);
}
.div-container-main{
    display: grid;
    grid-area: 1 / 1 / span 4 / span 1;
    margin-top: 5vh;
}
.div-inputs{
    display: grid;
    margin-top: 50px;
}
.div-input-titulo{
    padding: 5px;
    width: 450px;
}
.input-titulo{
    padding: 10px;
    width: 435px;
    height: 20px;
    border-radius: 5px;
    border: rgb(100, 100, 100) solid 2px;
}
.input-titulo::placeholder{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.div-input-descricao{
    padding: 15px 5px 5px 5px;
    width: 450px;
}
.input-descricao{
    padding: 10px;
    width: 435px;
    height: 200px;
    border-radius: 5px;
    border: rgb(100, 100, 100) solid 2px;
}
.input-descricao::placeholder{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.div-btn-adicionar{
    padding: 10px 5px 5px 5px;
}
.btn-adicionar{
    padding: 10px;
    background-color: rgb(154, 154, 238);
    border: 0;
    color: white;
    font-weight:bold;
    border-radius: 5px;
    pointer-events:fill;
}
.div-h1-tarefas{
    border-bottom: solid;
    width: 500px;
    text-align: center;
    color: rgb(100, 100, 100);
}
.div-tarefas{
    padding: 5px 5px 5px 100px;
}
.container-tarefas{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.unq-tarefa{
    background-color: #ffffff;
    border-radius: 5px;
    padding-bottom: 1px;
    width: 400px;
}
.tarefa-titulo{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}
.tarefa-descricao{
    margin-left: 10px;
    font-weight: 300;
}
.div-delete_edit{
    margin-left: 10px;
}
.btn-excluir{
    border: 0;
    border-radius: 5px;
    background-color: white;
    width: 35px;
    height: 35px;
}
.btn-editar{
    margin-top: 5px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    width: 35px;
    height: 35px;
}
.icon-trash{
    font-size: 15px;
}
.icon-pencil{
    font-size: 20px;

}